
<h1><%= @user.username %>'s Profile Page</h1>

<%= form_for @friendship do |f| %>
  <%= f.hidden_field :user, :value => current_user %>
  <%= f.hidden_field :friend, :value => @user %>
  <%= f.submit "Request Friend" %>
<% end %>

<h3>Games I added to the Database</h3>

<%= render @user.games %>

<h3>My Friends </h3>

<h3>Games I own </h3>

<%= render @user.owned_games %>

<h3>Games I added to the Database</h3>

<%= render @user.games %>
