<div class="mid-content-box">
  <span class="inline-span"><h1><%= @user.username %>'s Profile Page</h1></span>
  <span class="inline-span"> <%= render "add_friends" %></span>
    <div class="center-image">
      <%= image_tag @user.avatar, class: 'default_image' %>
    </div>
    <% if current_user.id == @user.id %>
    <%= link_to 'Edit your avatar', edit_user_path %>
    <% end %>
</div>

<% if current_user == @user %>
  <%= render "friend_requests" %>
<% end %>

<% if current_user.friends_with?(@user) || (current_user == @user) %>
  <%= render "friends" %>

  <div class="mid-content-box">
    <h3>Games I own </h3>

    <%= render @user.owned_games %>

  </div>
<% end %>
