<div class="add-game">
	<%= form_for @game do |f| %>
	  <%= f.label :title, "Game Name" %>:
	  <%= f.text_field :title %>
    <%= f.label :initial_tags, "Tags" %>:
    <%= f.text_field :initial_tags, size: 25, placeholder: "separate tags by spaces" %>
    <%= f.submit "Add Game" %>
	<% end %>
</div>
