<div class="votes-box" id="<%= "votesforgameID#{game.id}" %>">
  <%= form_for([game, game.votes.build], remote:true) do |f| %>
    <%= f.hidden_field :value, :value => 1 %>
    <%= image_submit_tag("uptriangle.png", class: "upvote-button "+up_button_class(game)) %>
  <% end %>
  <span class="vote-total">Votes: <%= game.vote_total %></span>
  <%= form_for([game, game.votes.build], remote:true) do |f| %>
    <%= f.hidden_field :value, :value => -1 %>
    <%= image_submit_tag("downtriangle.png", class: "downvote-button "+down_button_class(game))  %>
  <% end %>
</div>
