<h1> <%= @game.title %> </h1>

<%= render "ownership" %>


<h3> Description: <%= @game.description %></h3>

<h3> Tags: <%= render @tags %>
<h2>Comments: </h2>
<%= render @comment %>

<% if current_user %>
  <%= link_to 'Add a Comment', new_comment_path %>
<% end %>

