
<div class="mid-content-box">
	<span class="inline-span">
		<h1> <%= @game.title %> </h1>
	</span>
	<span class="inline-span">
		<% if user_logged_in? %>
		  <%= render partial: "ownership", locals: {owned_game: @game, ownership: @game.ownerships.find_by(owner: current_user)} %>
		<% end %>
	</span>

	<div class="center-image">
		<%= image_tag @game.image, class: 'default_image' %>
	</div>
  <% if current_user.id == @game.user.id %>
    <%= link_to 'Edit Image', edit_game_path %>
  <% end %>


  <p> Description: <%= @game.description %> </p>
  <p> Recommended Age Range: <%= @game.age_range%> </p>
  <p> No. of Players: <%= @game.num_players %> </p>
  <p> Estimated Play Time: <%= @game.play_time %> </p><br>
  <p> Tags: <%= render @tags %></p>
</div>

<div class="mid-content-box">
	<h2>Comments: </h2>
		<%= render @comment %>

	<% if current_user %>
	  <%= link_to 'Add a Comment', new_comment_path %>
	<% end %>
</div>
